.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;
  min-height: 100vh;
}

.request {
  margin: 20px;
  text-align: center;
  font-size: 2rem;
}

.button-back {
    margin: 1.5rem;
    height: 4vh;
    width: 10vw;
    background: white;
    border-radius: 1rem;
    transition: .3s;
    font-size: 1rem;
}

.button-back:hover {
    transform: scale(1.05);
}

.table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-info {
  width: 300px;
  margin: 10px;
  border: 2px solid gray;
  transition: transform 0.3s ease-in-out;
  background-color: white;
  color: black;
  border-radius: 1rem;
}

.movie-info:hover {
  transform: scale(1.03);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0 ;
}

.movie-details {
  padding: 10px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  margin: 0;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
    .button-back {
        height: 4vh;
        width: 50vw;
        font-size: .7rem;
    }
  }

@media (max-width: 1024px) {
    .button-back {
        height: 4vh;
        width: 20vw;
    }
}