.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .home-input input, .home-button button {
    margin: 10px;
    font-size: 1.5rem;
    background: white;
    color: black;
    border: none;
    border-radius: 1rem;
  }

  .home-input input {
    height: 5vh;
    width: 25vw;
    text-indent: 1rem;
  }

  .home-button button {
    height: 5vh;
    width: 3vw;
  }
  
  @media (max-width: 768px) {
    .home-input input {
        width: 75vw;
    }

    .home-button button {
        width: 15vw;
    }
  }

  @media (max-width: 1024px) {
    .home-input input {
        width: 60vw;
    }

    .home-button button {
        width: 10vw;
    }
  }