@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin height-wight-100proc {
  height: 100%;
  width: 100%;
}

%equals {
  position: absolute;
  bottom: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex-center();
  z-index: 1;
}

%input-buttons {
  margin: 10px;
  font-size: 1.5rem;
  background: white;
  color: black;
  border: none;
  border-radius: 1rem;
}

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &-h1 {
    @extend %equals;
    text-align: center;
    bottom: 80%;
    color: white;
    font-size: 2rem;
    max-width: 50vw;

    @media (max-width: 1024px) {
      bottom: 80%;
      color: white;
      font-size: 1.3rem;
    }

    @media (max-width: 768px) {
      bottom: 75%;
      color: white;
      font-size: 1px;
    }
  }

  &-input {
    input {
      @extend %input-buttons;
      height: 6vh;
      width: 30vw;
      text-indent: 1rem;

      @media (max-width: 1024px) {
        width: 50vw;
        font-size: 1.2rem;
      }

      @media (max-width: 768px) {
        width: 70vw;
        font-size: 0.8rem;
      }
    }
  }

  &-button {
    button {
      @extend %input-buttons;
      height: 6vh;
      width: 3vw;

      @media (max-width: 1024px) {
        width: 10vw;
        font-size: 1.2rem;
      }

      @media (max-width: 768px) {
        width: 15vw;
        font-size: 0.8rem;
      }
    }
  }
}

.video-container {
  position: relative;
  @include height-wight-100proc();
}

video {
  @include height-wight-100proc();
  object-fit: cover;
}

.content {
  @extend %equals;
}

.error {
  @extend %equals;
  @include flex-center();
  bottom: 50%;
  color: white;
  font-size: 1rem;
  max-width: 50vw;
  background-color: white;
  color: black;
  border-radius: 0.8rem;
  height: 4vh;
  width: fit-content;
  transition: 0.5s;
  padding: 0.5rem;

  button {
    border: none;
    background-color: white;
    border-radius: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    margin-top: 5px;
  }

  @media (max-width: 1024px) {
    bottom: 50%;
    font-size: 0.5rem;
  }

  @media (max-width: 768px) {
    bottom: 50%;
    font-size: 0.5rem;
  }
}

.header {
  width: 100vw;
}
